Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config.h
config.h.in
configure
depcomp
.deps/
.dirstamp
install-sh
missing
stamp-h1
mkhdr.done
*~
*.o
*.h
!src/ncdc.h
!src/doc.h
ncdc
gendoc
doc/*.1
doc/ncdc.pod
ncdc-db-upgrade
INSTALL
